:root {
    --nav-width: 14%;
    --nav-top: 50px;
}

.nav_aside {
    position: fixed;
    top: var(--nav-top);
    left: 0;
    width: var(--nav-width);
    height: calc(100vh - var(--nav-top));
    background: rgba(24, 28, 34, 0.8);
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: left 0.3s;
}

.nav_list {
    list-style: none;
    padding: 20px 10px;
    margin: 0;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: thin;
}

.nav_list button {
    width: 100%;
    background: rgb(35, 39, 47);
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.7rem;
    text-align: left;
    transition: background 0.3s;
}

.nav_list button:hover {
    background: rgb(58, 64, 80);
}

.footer_user {
    display: flex;
    justify-self: flex-end;
    padding: 0;
    margin: 0px;
    margin-top: auto;
    position: relative;
}

.footer_user_content {
    display: flex;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    background: rgb(35, 39, 47);
}

.footer_user_content:hover {
    background: rgb(58, 64, 80);
}

.footer_user_img {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    height: 60px;
}

.footer_user_username {
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 0 0 5px 0;
    color: white;
}

.footer_dropdown {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 200px;
    background: rgba(35, 39, 47, 0.8);
    visibility: hidden;
    transform: translateX(-20px);
    transition: all 0.3s ease;
    z-index: 100;
    pointer-events: none;
}

.footer_user:hover .footer_dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto;
}

.footer_dropdown_menu {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.footer_dropdown_menu a {
    text-decoration: none;
}

.footer_dropdown_menu button {
    width: 100%;
    background: rgb(45, 49, 57);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    text-align: left;
    transition: background 0.3s;
}

.footer_dropdown_menu button:hover {
    background: rgb(58, 64, 80);
}

.main_content {
    margin-left: var(--nav-width);
}

.nav_enabled_big {
    left: 0;
    --nav-width: 50%;
    transition: left 0.5s;
}

.nav_disabled {
    left: -100%;
}

.main_nav_disabled {
    margin-left: 0px;
}

@media (max-width: 1650px) {
    :root {
        --nav-width: 15%;
    }
}

@media (max-width: 1200px) {
    :root {
        --nav-width: 20%;
    }

    .footer_user_img {
        height: 50px;
    }
}

@media (max-width: 850px) {
    :root {
        --nav-width: 25%;
    }

    .footer_user_username {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    :root {
        --nav-top: 120px;
    }
}