.form_create_reco {
    display: none;
    position: absolute;
    box-shadow: 0 0 2px white;
    width: 40%;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.form_labels, .form_textarea_text, input[type="text"], input[type="file"], input[type="file"]::file-selector-button {
    font-size: 0.7rem;
}

.form_image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
}

input[type="text"], .form_button {
    max-height: 35px;
}

.form_button {
    font-size: 0.7rem;
    line-height: 0;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.div_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_buttons {
    display: flex;
    flex-direction: row;
}

.form_textarea_text {
    resize: none;
    height: 200px;
}

@media (max-width: 1500px) {
    .form_create_reco {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .form_create_reco {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .form_create_reco {
        width: 70%;
    }
}