body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 30%;
    box-shadow: 0 0 2px white;
    border-radius: 10px;
    padding: 30px;
}

h1 {
    font-size: 1.5rem;
}

input, button {
    max-height: 40px;
}

button[type="submit"] {
    line-height: 0;
}

label, input, button[type="submit"], p {
    font-size: 0.7rem;
}

@media (max-width: 1500px) {
    form {
        width: 40%;
    }
}

@media (max-width: 1000px) {
    form {
        width: 50%;
    }
}

@media (max-width: 600px) {
    form {
        width: 60%;
    }
}