nav {
    display: flex;
}

ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    min-width: 100px;
}

@media (max-width: 1500px) {
    button {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    button {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    button {
        min-width: 75px;
    }
}