body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    box-shadow: 0 0 2px white;
    width: 40%;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

label, textarea, input[type="text"], input[type="file"], input[type="file"]::file-selector-button {
    font-size: 0.7rem;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
}

input[type="text"], button {
    max-height: 35px;
}

button[type="submit"], button[type="button"] {
    font-size: 0.7rem;
    line-height: 0;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.div_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_buttons {
    display: flex;
    flex-direction: row;
}

textarea {
    resize: none;
    height: 200px;
}

@media (max-width: 1500px) {
    form {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    form {
        width: 60%;
    }
}

@media (max-width: 600px) {
    form {
        width: 70%;
    }
}