* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

input[type="search"], select {
    font-size: 0.8rem;
    height: 50px;
    line-height: 1;
}

.feed_search {
    display: grid;
    grid-template-columns: 30% 10%;
    width: calc(100% - 60px);
    margin: 20px;
    gap: 20px;
    justify-content: center;
}

.actual_page {
    background-color: black;
    box-shadow: 0 0 2px white;
}

@media (max-width: 1200px) {
    .feed_search {
        display: grid;
        grid-template-columns: 50% 15%;
        width: calc(100% - 60px);
        margin: 20px;
        gap: 20px;
        justify-content: center;
    }

    input[type="search"], select {
        font-size: 0.8rem;
        height: 45px;
        line-height: 1;
    }
}

@media (max-width: 750px) {
    .feed_search {
        display: grid;
        grid-template-columns: 80% 20%;
        width: calc(100% - 60px);
        margin: 20px;
        gap: 20px;
    }

    input[type="search"], select {
        font-size: 0.8rem;
        height: 40px;
        line-height: 1;
    }
}